cycler==0.10.0
Cython==0.24
Lasagne==0.1
lxml==3.6.0
matplotlib==1.5.1
mongo==0.2.0
numpy==1.11.0
Pillow==3.2.0
plotly==1.12.1
pymongo==3.2.2
pyparsing==2.1.5
python-dateutil==2.5.3
pytz==2016.4
requests==2.10.0
scikit-learn==0.18.dev0
scikit-neuralnetwork==0.7
scipy==0.17.1
selenium==2.53.4
six==1.10.0
sklearn==0.0
Theano==0.8.2
